#init, #menu, #content{
padding:1px 0;
}

#init {
text-align:center;
background-color:#7FFFD4; 
}

#main {
max-with:960px;
margin:auto;
}

#menu {
float:left;
width:240px;
background-color:#7FFFD4; 
}

#menu ul{
list-style: none;
}

#menu li{
padding-top: 0.7em; 
/* padding-bottom: 1em; */
}

.adressFormat ul{ list-style: none;}
.adressFormat li{ padding-top: 0.1em;}


#menu a{
color: black;
text-decoration:none
}

#menu a:hover {
text-decoration:none;
background-color:#E0FFFF;
}

#content {
margin-left:245px;
padding-left:10px ;
padding-right:50px ;
}


body
{    
	font-family: Georgia, sans-serif;
	font-size: large;
	background-color: #E0FFFF;
}

h1{
	font-size: larger;
}

h2{
	font-size: larger;
}

h3{
	font-size: large;
}

li{
padding-top: 0.5em; 
/* padding-bottom: 1em; */
}

p
{
	text-align: justify;
}

#content a
{
color: #E0FFFF;
text-decoration:none	
}

#content a:hover
{
text-decoration:none;
background-color:#E0FFFF;
}