#init, #menu, #content{
padding:1px 0;
}

#init {
text-align:center;
text-underline-color:#111
background-color:#333;
}

#main {
margin:auto;
}


/**/
/*#menu ul{*/
/*list-style: none;*/
/*}*/
/**/
/*#menu li{*/
/*padding-top: 0.7em; */
/*/* padding-bottom: 1em; */*/
/*}*/

.adressFormat ul{ list-style: none;}
.adressFormat li{ padding-top: 0.1em;}


/*#menu a{*/
/*color: black;*/
/*text-decoration:none*/
/*}*/
/**/
/*#menu a:hover {*/
/*text-decoration:none;*/
/*background-color:#E0FFFF;*/
/*}*/

#content {
padding-left:10px ;
padding-right:50px ;
}


body
{    
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	background-color: #E0FFFF;
}

h1{
	font-size: larger;
}

h2{
	font-size: larger;
}

h3{
	font-size: large;
}

li{
padding-top: 0em;
padding-bottom: 0em;
}

p
{
	text-align: justify;
}

#content a
{
color: #333;
text-decoration:none	
}

#content a:hover
{
text-decoration:none;
background-color:#E0FFFF;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float:center;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #111;
}

#menu-right {
  float: right;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
